.sky{
    width: 100%;
    height:100%;
    border: 1px solid orange;
    background-image: linear-gradient(orangered,rgb(255, 255, 0));
    position: fixed;
    animation-name:Mysky;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}   
.grass{
    width: 100%;
    height:30px;
    border: 1px solid green;
    background-color: green;
    position: relative;
    box-shadow: 0px 0px 70px 20px green;
     top:66%;
}
.grass2{
    width: 100%;
    height:40px;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    position: relative;
    ;
     top:56%;
    } 
     .tree1{
    width: 400px;
    height:400px;
     /* border: 1px solid rgb(0,0,0);  */
    /* background-color: brown; */
    position: fixed;
    left:300px;
    bottom: 200px;
    
    }
    .tree2{
    width: 400px;
    height:400px;
    /* border: 1px solid rgb(0,0,0);  */
    /* background-color: brown; */
     position: fixed;
    left: 70%;  
    bottom: 200px;
    } 
    .bark{
        width: 30px;
        height: 190px;
        border: 1px solid brown;
        background-color: brown;
        position: absolute;
        bottom: 60px;
        left:190px;
    }
    .leaves{
        width: 50%;
        height: 50%;
        /* border:1px solid brown; */
        position: absolute;
        bottom: 60px;
        left: 8px;
    }
    .leaf1{
        width:80px;
        height:80px;
        border: 5px solid green;
        background-color: green;
        position: absolute;
        border-radius: 100%;
        left: 100px;
    }
    .leaf2{
        width:80px;
        height:80px;
        border: 5px solid green;
        background-color: green;
        position: absolute;
        border-radius: 100%;
        left: 200px;
    }
    .leaf3{
        width:80px;
        height:80px;
        border: 5px solid green;
        background-color: green;
        position: absolute;
        border-radius: 100%;
        left: 110px;
        top:-62px;
    }
    .leaf4{
        width:80px;
        height:80px;
        border: 5px solid green;
        background-color: green;
        position: absolute;
        border-radius: 100%;
        left: 200px;
        top:-62px;
    }
    .leaf5{
        width:80px;
        height:80px;
        border: 5px solid green;
        background-color: green;
        position: absolute;
        border-radius: 100%;
        left: 170px;
        top:-70
    }

.road{
    width:100%;
    height:200px;
    border: 1px solid black;
    background-color: black;
    position:fixed;
    bottom: 0%;
}

.white1{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:20px;
    top:40%;

}
.white2{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:240px;
    top:40%;

}
.white3{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:460px;
    top:40%;

}
.white4{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:680px;
    top:40%;

}
.white5{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:900px;
    top:40%;

}
.white6{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:930px;
    top:40%;

}
 .white7{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:1150px;
    top:40%;

} 
.white8{
    width:160px;
    height:20px;
    border:1px solid white;
    background-color: white;
    position:absolute;
    left:1350px;
    top:40%;

} 
.car{
    width:140px;
    height:55px;
    border:1px solid red;
    background-color: red;
    position:absolute;
    /* left:90%; */
    /* right:0%; */ 
    top:-15%;
    border-radius:40px 40px 10px 10px;
    animation-name:Mycar;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
.leftwheel{
    width:20px;
    height:20px;
    border:5px solid rgba(0, 0, 0, 0.896);
    background-color:silver;
    position:absolute;
    border-radius: 100%;
    top:80%;
    left:20px;
}
.rightwheel{
    width:20px;
    height:20px;
    border:5px solid rgba(0, 0, 0, 0.896);
    background-color: silver;
    position:absolute;
    border-radius: 100%;
    top:80%;
    left:95px;
}
.cartop{
    width:95px;
    height:60px;
    border:1px solid red;
    background-color:red;
    position: absolute;
    top:-28px;
    left: 20%;
    border-radius:25px 25px 0px 0px;

}
 .window1{
    width: 40px;
    height: 30px;
    border: white;
    background-color: white;
    position: absolute;
    top:4px;
    left:5px;
    border-radius:20px 0% 0% 15% ;
} 
.window2{
    width: 37px;
    height: 30px;
    border: white;
    background-color: white;
    position: absolute;
    top:4px;
    left:50px;
    border-radius:0% 15px 20% 0% ;
} 
.sun{
    width:100px;
    height:100px;
     /* background-image: radial-gradient(red,yellow); */
    box-shadow: 0px 0px 70px 20px yellow; 
    background-color: yellow;
    position: absolute;
    border-radius: 100%;
    left:60%;
    /* top:34px; */
   animation-name:Mysun;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 }


 @keyframes Mysun{
    0%{
    background-color:yellow;
     top: 0px;
    }
     40%{
    background-color: rgba(255, 166, 0, 0.651);
    bottom: 500px;
    box-shadow: 0% 0% 70% 20% whitte;
    }
    60%{
         background-color: orange;
    bottom: 500px;
    box-shadow: 0% 0% 70% 20% white;
    }
    
    100%{
    background-color: white;
    bottom: 500px;
    box-shadow: 0% 0% 70% 20% white;
    }
}
    @keyframes Mycar{
    0%{
       right: 0%;
    }
     40%{
       right: 40%;
    }
    60%{
       right: 60%;
    }
    100%{
       right: 100%;
    }
 }
 @keyframes Mysky{
    0%{
            background-image: linear-gradient(skyblue,white);
     }
    40%{
           background-image: linear-gradient(rgba(135, 207, 235, 0.782),rgba(255, 255, 255, 0.315));
    }
    60%{
        background-image: linear-gradient(black,skyblue,rgb(255, 255, 255));
    }
    100%
    {
        background-image: linear-gradient(black);
    }   
 }