/* .cbackground{
    width: 100%;
    height:100%;
    background-color: black;
} */
/* .round{
    width: 40px;
    height: 40px;
    border: 1px solid red;
    border-radius: 100%;
} */
 body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
 }
 .Gcard{
     perspective: 600px;
     
 }
 .cards{
    width:500px;
    height:350px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s linear;
    
 }
 .cards:hover {
     transform: rotateY(180deg);
 }
.front{
     /* width :500px;
    height: 300px; */
     /* border: 1px solid yellow; */
   /* background-color: yellow;  */
    /* background-image: linear-gradient(to top right white,yellow); */
     width: 500px;
    height: 350px;
    border: 1px solid white;
    position:absolute;
    /* position: fixed; */
    background-image: linear-gradient(to top left,#2193b0,white); 
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px white;
    backface-visibility: hidden;
}
.back{
    width: 500px;
    height: 350px;
    display: flex;
    border: 1px solid white;
     /* position: fixed;  */
     position:absolute;
    background-image: linear-gradient(to top left,green,white); 
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px white;
    
    transform: rotateY(180deg);
    backface-visibility: hidden;
}


.image{
     width: 150px;
    height:150px;
    /* <img src="../IMAGES/mypic.jpg"> */
    border: 5px solid lightblue;
    background-image:url(../IMAGES/mypic.jpg);
    position: relative;
    background-size: cover;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 0px lightblue;
    top: 15px;
    left: 15px;

}
.name{
    font-family: Montserrat;
    position: relative;
    /* color: antiquewhite; */
    left: 25px;
    top:15px;
}
.profesion{
    font-family:Playfair Display ;
    position: relative;
    left: 30px;
    top:20px;
}
/* .line{
    width:100px;
    /* height:20px; 
    border:1px solid red;
    left:50px;
} */
 .phone{
    position: absolute;
    left:290px;
    top:70px;
 } 
 .mail{
    position: absolute;
    left:290px;
    top:110px;
 }
 .linkedin{
    position: absolute;
    left:290px;
    top:140px;
 }
 .insta{
    position: absolute;
    left:290px;
    top:170px;
 }
 .graduation{
    position: absolute;
    left:290px;
    top:200px;
 }
 .location{
    position: absolute;
    left:290px;
    top:230px;
 }
 .github{
    position: absolute;
    left:290;
    top:270;
 }
 .facebook{
     position: absolute;
    left:320;
    top:270;
 }
 .twitter{
    position: absolute;
    left:350;
    top:270;
 }
